.ulist{    
  width: 8rem;
  list-style-type: none;
  margin: 0;
 
}
.ulist a{
  display: block;
  color: var(--colorwhite);
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  background-color: var(--colorhighlight);
  font-family: var(--font-sans-serif);
}

.ulist a:hover{
   background-color: var(--colorgrey);
}

.checkout-form{
    display: flex;
    justify-self: flex-start;
    align-self: center;
    padding: 0 2rem;
    border: 0.1rem solid black;
    border-radius: 5%;
    margin: 4rem;
    height: 50%;
}
.divider-wrapper {
    display: flex;
    justify-self: center;
}

.checkout-label {
    text-align: center;
}

.checkout-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.checkout-item {
 margin: 0;
}
input{
    padding: 0.4rem;
}

.form-between{
    display: flex;
    justify-content: space-between;
}

.divider{
    height: 100vh;
    width: 10px;
    border-left: rgba(0, 0, 0, 0.5) 0.2rem solid;
    
}