.ulist{    
  width: 8rem;
  list-style-type: none;
  margin: 0;
 
}
.ulist a{
  display: block;
  color: var(--colorwhite);
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  background-color: var(--colorhighlight);
  font-family: var(--font-sans-serif);
}
.active{
    background-color: var(--colorgrey);
}

.ulist a:hover{
   background-color: var(--colorgrey);
}

.hero{
    padding: 0 2rem;
}

.hero-text{
    width: 70%;
}

.hero-img{
    height: 25rem;
    width: 40rem;
    background-color: white;
}

.hero-button{
    padding: 1rem;
    background-color: yellow;
    border-radius: 10%;
}

.hero-button:hover{
    background-color: lightyellow;
}

.hero-button a{
  color: var(--colorblack);  
  text-decoration: none;
}

.aref{
    margin: 0;
}
.aref a{
  font-family: var(--font-sans-serif);
  font-size: 1rem;
  color: var(--colorwhite);
  text-decoration: none;
  background-color: var(--colorhighlight);
}

.aref a:hover{
  background-color: var(--colorgrey);
}

.main-footer-bottom{
  justify-content: center;
  align-items: center;
  height: 2.25rem;
  padding: 0 10%;
  border-top: 0.0625rem solid var(--colorhighlight);
  font-family: var(--font-sans-serif);
  color: var(--colorwhite);
  background-color: var(--colorhighlight);
}

.footer-list {
  list-style-type: none;
  overflow: hidden;
  width: fit-content;
}
.footer-list li + li {
  margin: 0.2rem 0;
}


