.ulist{    
  width: 8rem;
  list-style-type: none;
  margin: 0;
 
}
.ulist a{
  display: block;
  color: var(--colorwhite);
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  background-color: var(--colorhighlight);
  font-family: var(--font-sans-serif);
}

.ulist a:hover{
   background-color: var(--colorgrey);
}



/* Modal container - hidden by default */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    /* Center the modal content */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.flex-cols a{
  
  text-decoration: none;
  font-family: var(--font-sans-serif);
  color: black;
}

/* When the modal is targeted via URL hash, make it visible */
.modal:target {
    opacity: 1;
    pointer-events: auto;
}

/* Modal content box */
.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 6px;
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
   font-family: var(--font-sans-serif);
   text-align: center;
}

.modal-content a{
  
  text-decoration: none;
  font-family: var(--font-sans-serif);
  color: black;
}

/* Backdrop close link - covers the entire screen */
.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: default;
    z-index: -1; /* Place behind modal content */
}


.box{
    padding: 0 2rem;
    margin: 4rem;
}

.box-text{
    width: 50%;
    text-align: center;
}
.box-img{
    height: 10rem;
    width: 15rem;
    background-color: white;
}